p.instructions {
    font-size:25px;
    background-color:white;
    position:fixed;
    padding:10px;
    top:0px;
    left:0px;
}

p.footer {
    font-size:20px;
    background-color:white;
    position:fixed;
    bottom:0px;
    padding:10px;
}

.messages {
    margin-top:60px;
    margin-bottom:50px;
}
