p.instructions {
    font-size:60px;
    padding:10px;
    line-height: normal;
    text-align: center;
    background-color: rgb(255, 226, 249);
}

p.footer {
    font-size:20px;
    position:fixed;
    bottom:0px;
    width:100%;
    padding:10px;
    margin-bottom:0px;
}

.messages {
    margin-top: 200px;
    font-size: 50px;
    margin-bottom:10px;
    text-align:center;
    top: 500px;
    line-height: normal;
    background-color: rgb(231, 255, 254);
}

.top_prompt_text {
    font-size: 65px;
    padding: 10px;
    font-weight: bold;i
    margin-top: 20px;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%
    text-align: center;
}

html {
    background-color: rgb(231, 255, 254);
}
