p.instructions {
    font-size:50px;
    padding:10px;
    padding-bottom:25px;
    line-height: normal;
}

p.footer {
    font-size:20px;
    background-color:white;
    position:fixed;
    bottom:0px;
    width:100%;
    padding:10px;
    margin-bottom:0px;
}

.messages {
    margin-top:120px;
    font-size: 70px;
    margin-bottom:10px;
    text-align:center;
    top: 500px;
    line-height: normal;
}

.top_prompt_text {
    font-size: 65px;
    padding: 10px;
    font-weight: bold;i
    margin-top: 20px;
}

#header {
    position: fixed;
    top: 0px;
    background-color: white;
    text-align-center
}
