{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" action="." method="post">{% csrf_token %}
    <div class="control-group">
        <h2 class="text-info">Create new Wall</h2>
        <label class="control-label" for="inputHashtag">Hashtag</label>
        <div class="controls">
            {{ form.hashtag }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <p>Phone number: {{ phone_number }}<p>
            <button type="submit" class="btn">Create wall</button>
        </div>
    </div>
<input type="hidden" name = "phone_number" value="{{ phone_number }}" />
</form>
{% endblock  %}
