{% extends "base.html" %}
{% block title %}Texting Wall{% endblock %}
{% block css %}
<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .marketing h4 {
        text-align: center;
      }
</style>
    
{% endblock %}    i
{% block content %}
    <div class="container-narrow">

      <div class="masthead">
        {% if user.is_authenticated %}
            <p class="navbar=text pull-right">
              Logged in as <a href="#" class="navbar-link">{{ user.username }}</a>
            </p>
        {% else %}
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/login">Login</a></li>
        </ul> 
        <h3 class="muted">Texting Wall</h3>
        {% endif %}
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Texting Wall</h1>
        <p class="lead">Bring worship and mobile technology together</p>
        <a class="btn btn-large btn-success" href="/create_account">Sign up today</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6 offset3">
          <h4>Marketing Speak</h4>
          <p>Awesome-looking marketing speak that makes Texting Wall look cool</p>

          <h4>More Marketing Speak</h4>
          <p>Nothing new here</p>

          <h4>You guessed it...</h4>
          <p>Even more marketing speak!</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>Texting Wall</p>
      </div>

{% endblock %}
