{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div class="alert alert-error" data-dismiss="alert">
<button type="button" class="close" data-dismiss="alert alert-error">&times;</button>
<p>Oops! Your username and password didn't match what we have. Double-check
that you have typed them in correctly</p>
</div>
{% endif %}

<div class="row">
<div class="span1 offset3">
<h2>Login</h2>
</div>
</div>

<form class="form-horizontal" action='/login/' method='post' >{% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="inputUsername">Username</label>
    <div class="controls">
        {{ form.username }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
        {{ form.password }}
    </div>
  </div>
    <div class="row">
        <div class="span1 offset3">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
    <input type="hidden" name="next" value="/" />
    
</form>

{% endblock %}

