{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Messages{% endblock %}
{% block css %}
.lead {
    text-align:center;
}
{% endblock %}

{% block content %}

<div id="smsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <div class="alert alert-error hide" id="modalError">
        <h5>The phone number you entered doesn't appear to be valid for this message. Double check that you have correctly typed in the number you used to send this message</h5>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Claim this Message</h3>
  </div>
  <div class="modal-body">
    <p>To verify that you sent this message, please enter in the phone number you used to send it below:</p>
    <div class="row">
        <div class="input-prepend input-append span2">
            <span class="add-on">(</span>
            <input name="areacode" class="span1" id="appendedPrependedInput" form="userdata" maxlength="3" type="text">
            <span class="add-on">)</span>
        </div>
        <input name="first" class="span1" form="userdata" maxlength="3" type="text">
        <input name="second" class="span1" form="userdata" maxlength="4" type="text">
        <input type="hidden" name="id" id="class" value="">
        <img class="offset1 hide" id="checkmark" src="{% static "messages/img/checkmark.png" %}"><br/>
        <button class="btn btn-primary span1">Verify</button>

    </div>

    <div class="hide" id="dataForm">
        <h3>Step Two:</h3>
        <h5>Enter in your name and upload a photo that will appear next to your message</h5>

        <form enctype="multipart/form-data" id="userdata" action="{% url main.views.verify_sms %}" method="POST">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="hidden" name="id" id="message_id" value="">
            <input type="submit" class="btn">
        </form>

    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<div id="tweetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Claim this Message</h3>
  </div>
  <div class="modal-body">
    <p>Please log in with your Twitter account below to verify that you sent this message:</p>
    <a id="twitterlogin" href="{% url main.views.twitter_oauth id=messages.0.wall.id %}?">
        <img src="{% static "messages/img/sign-in-with-twitter-gray.png" %}">
    </a><br />
    Claim all other messages sent with my Twitter account <input type="checkbox" id="claimall" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

    <p class="lead">{{ messages.0.wall.hashtag|cut:"#"|capfirst }} Messages</p>

    <table class="table table-condensed">

    {% for message in messages %}
        <tr>
            <td>
                <div class="media">
                    {% if message.sender %}
                    <a class="pull-left" href={{ message.sender.image.url }}>
                        <img class="media-object" src={{ message.sender.image.url }}>
                    </a>
                    <div class="media-body">
                        <p>{{ message.sender }}</p>
                    </div>
                    {% else %}
                    {% if user.is_superuser %}
                        <a class="pull-left" href={% static "messages/img/unknown.png" %}>
                            <img class="media-object" src={% static "messages/img/unknown.png" %}>
                        </a>
                        <div class="media-body">
                        {% if message.phone_number %}
                            <a class="btn sms" data-toggle="modal" data-modal="#smsModal" data-message={{ message.id }}>Add name/photo</a>
                        {% else %}
                            <a class="btn tweet" data-toggle="modal" data-modal="#tweetModal" data-message={{ message.id }}>Add name/photo</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endif %}

                </div>
            </td>
            <td>{{ message.message }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function verify_callback(data) {
    if (!data['status']) {
        $("#modalError").show();
    }
    else {
        $("#modalError").hide();
        $("#checkmark").show();
        $("#dataForm").show(1000);
    }

}

function build_url () {
    for (param in twitterurl) {
        $('#twitterlogin').attr('href', function (i, val) {
            return val + param + '=' + twitterurl[param] + '&';
        })
    }
}

$('button:contains("Verify")').click(function() {
    output = Dajaxice.main.verify_sms(verify_callback, {'message_id': $('#message_id').val(), 'areacode': $('input[name="areacode"]').val(), 'first': $('input[name="first"]').val(), 'second': $('input[name="second"]').val()})
})

$('.tweet').click(function() {
    twitterurl.message = $(this).attr('data-message');
    $('#tweetModal').modal();
})

$('.sms').click(function() {
    var message = $("#message_id");
    message.val($(this).attr('data-message'));
    $('#smsModal').modal();
    return false;
})

$('#claimall').change(function () {
    if ($(this).is(':checked')) {
        twitterurl.claimall = true;
    }
    else {twitterurl.claimall = false;}
})

$('#twitterlogin').click(function() {
    build_url();
})

twitterurl = {claimall:false};
</script>
{% endblock %}
