{% extends "base.html" %}
{% load static %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static "wall/css/wall.css" %}" />
{% endblock %}
 
{% block content%}
<p class="instructions">Text your message to <strong>(617) 600-5993</strong>, or tweet it with the hashtag <strong>{{ wall.hashtag }}</strong> to see it appear on the screen</p>
<div class="messages"></div>
{% endblock %}

{% block javascript %}
<div pub-key="pub-8a8223f4-631c-4484-a118-2b01232307cc"
sub-key="sub-e754ed6b-133d-11e2-91f2-b58e6c804094" ssl="off"
origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script>
(function() {
    PUBNUB.subscribe( {
        channel    : "{{ wall.sms_keyword }}",             
        callback   : function(message) {
            $('.messages').append("<p>" + message['message'] + "</p>");
            $('html, body').animate({
                scrollTop: $(document).height()
            },
            450);
        }
    });
})();
</script>

{% endblock %}
