{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}


{% block content%}
<link type="text/css" rel="stylesheet" href="{% static "wall/css/wall.css" %}">
<div id="header">
<p class="instructions">Text your message to <strong>(617) 600-5993</strong>, or tweet it with the hashtag <strong>{{ wall.hashtag }}</strong><br />
{% if wall.top_prompt_text %}{{ wall.top_prompt_text }}{% endif %}</p>
<p class="bottom_prompt_text">{% if wall.bottom_prompt_text %}{{ wall.bottom_prompt_text }}{% endif %}</p>
</div>

<div class="messages"></div>
<p class="footer">www.textingwall.org</p>
{% endblock %}

{% block javascript %}
<div id=pubnub pub-key="{{ PUBNUB_PUBLISH_KEY}}"
sub-key="{{ PUBNUB_SUBSCRIBE_KEY }}" ssl="off"
origin="pubsub.pubnub.com"></div>

<script src="http://cdn.pubnub.com/pubnub-3.4.2.min.js" ></script>

<script>

    PUBNUB.subscribe({
        channel : "{{ wall.hashtag }}",
        message : new_message ,
});

	var MESSAGES = {{ messages|safe }};

function new_message(message) {
            $('.messages').append("<p>" + message['message'] + "</p>");
            $('html, body').animate({
                scrollTop: $(document).height()
            },
            450);
}




$(window).on('beforeunload', function(e) {
    return 'Warning! If you leave this page, this wall will be closed. It will not be able to reveive any more messages';
})

$(window).on('unload', function(e) {
    $.get("{% url main.views.close_wall %}", {"id": {{ wall.id }}});
})

setInterval(function() {
    $.get("{% url main.views.ping_wall %}",{"id": {{ wall.id }}});
}, 3000);

$.each(MESSAGES, function(index, message) { new_message({'message': message}) });
</script>

{% endblock %}
